@import "varibles";
@import "base";
@import "Mixin";
@import "media";
@import "otherpage";

@font-face {
  font-family: "Material Design Icons";
  src: url("../font/MaterialDesign/fonts/materialdesignicons-webfont.eot?v=4.6.95");
  src: url("../font/MaterialDesign/fonts/materialdesignicons-webfont.eot?#iefix&v=4.6.95")
      format("embedded-opentype"),
    url("../font/MaterialDesign/fonts/materialdesignicons-webfont.woff2?v=4.6.95")
      format("woff2"),
    url("../font/MaterialDesign/fonts/materialdesignicons-webfont.woff?v=4.6.95")
      format("woff"),
    url("../font/MaterialDesign/fonts/materialdesignicons-webfont.ttf?v=4.6.95")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MIRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../font/IRANSans/eot/IRANSansWeb_Medium.eot");
  src: url("../font/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../font/IRANSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../font/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../font/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../font/IRANSans/eot/IRANSansWeb.eot");
  src: url("../font/IRANSans/eot/IRANSansWeb.eot?#iefix")
      format("embedded-opentype"),
    url("../font/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../font/IRANSans/woff/IRANSansWeb.woff") format("woff"),
    url("../font/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
}

html,
body {
  font-family: IRANSans, tahoma, "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.7;
  font-size: 11pt;
  color: #777777;
  direction: ltr;
  @include textalign(left);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
#preloader {
  position: fixed;
  @extend %abs;
  background: #fff;
  z-index: 99;
  #status {
    width: 100%;
    height: 100vh;
    background: url(../image/preloader.gif) no-repeat center;
  }
}
header {
  .wrap-header {
    position: relative;

    height: 950px;
    overflow: hidden;
    .bg-header {
      position: relative;
      // background: url(../image/header-pic.png) no-repeat  ;
      // width: 500px;
      // height: 600px;
      //   background-size: contain;
      //    float: right;
      .content-header {
        position: relative;
        max-width: 100%;
        top: -150px;

        .bg-img {
          position: absolute;
          display: block;
          //   width: 80%;
          height: auto;
          right: 0;
          //   top:-90px;
          //   max-width: 100%;
          z-index: -1;
          //
          float: right;
        }
      }
      .orginal-menu {
        position: relative;
        z-index: 5;
        // top:0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        width: 100%;
        float: right;
        max-width: 100%;
        .language {
          position: relative;
          margin-top: 20px;
          margin-right: 20px;
          a {
            color: #fff;
            text-transform: capitalize;
            padding: 5px 10px;
          }
        }
        .orginal {
          position: relative;
          @extend %flex-row;
          .menu {
            position: relative;
            list-style-type: none;
            @extend %flex-row;
            float: right;
            margin-left: 180px;
            // left: 10%;

            .menu-1 {
              &:hover {
                #sub-home {
                  opacity: 1;
                  visibility: visible;
                  @include transition(0.5s);
                }
              }
            }
            .menu-2 {
              &:hover {
                #sub-project {
                  opacity: 1;
                  visibility: visible;
                  @include transition(0.5s);
                }
              }
            }
            .menu-3 {
              &:hover {
                #sub-team {
                  opacity: 1;
                  visibility: visible;
                  @include transition(0.5s);
                }
              }
            }
            .menu-4 {
              &:hover {
                #sub-blog {
                  opacity: 1;
                  visibility: visible;
                  @include transition(0.5s);
                }
              }
            }
            .menu-5 {
              &:hover {
                #sub-shop {
                  opacity: 1;
                  visibility: visible;
                  @include transition(0.5s);
                }
              }
            }
            .menu-6 {
              &:hover {
                #sub-contact {
                  opacity: 1;
                  visibility: visible;
                  @include transition(0.5s);
                }
              }
            }

            > li {
              position: relative;
              padding: 30px 15px 0;

              .sub-menu {
                //   display: none;
                position: absolute;
                background: #fff;
                //    top:80px;
                //    left:8px;
                width: 200px;

                z-index: 50;
                list-style-type: none;
                padding-bottom: 20px;
                @include borderradiuse(10px);
                opacity: 0;
                visibility: hidden;
                &::before {
                  content: "";
                  position: absolute;
                  top: -10px;
                  left: 20px;

                  border-right: 20px solid transparent;
                  border-left: 0 solid transparent;
                  border-bottom: 12px solid #fff;

                  width: 0;
                  height: 0;
                }
                li {
                  position: relative;
                  margin-top: 10px;
                  padding-top: 10px;
                  padding-bottom: 10px;

                  padding-left: 30px;
                  z-index: 50;
                  a {
                    color: #000;
                  }
                  &:hover {
                    @include Gradient(45deg, #5e2ced 0%, #9749f8 100%);
                  }
                }
              }

              &::before,
              &:after {
                position: absolute;
                color: #fff;
                font-size: 14pt;
                // top:30px;

                opacity: 0;
                @include transform(translateX(0));
              }
              &::before {
                content: "[";
                right: 50%;
              }
              &::after {
                content: "]";
                left: 50%;
              }
              &:hover {
                &:before {
                  @include transform(translateX(-30px));
                  @include transition(0.5s);
                  opacity: 1;
                }
                &:after {
                  @include transform(translateX(30px));
                  @include transition(0.5s);
                  opacity: 1;
                }
              }
              a {
                color: #fff;
                font-family: IRANSans;
                font-size: 9pt;
              }
            }
          }

          .cart {
            position: relative;
            //top:27px;
            // right:-330px;
            padding: 23px 10px;

            a {
              i {
                font-size: 15pt;
                color: #fff;
              }
            }
            span {
              position: absolute;
              width: 18px;
              height: 18px;
              @include borderradiuse(100%);
              background: $red;
              color: #fff;
              top: 15px;
              left: 20px;
              font-size: 9pt;
              @extend %flex-center;
            }

            .sub-menu-cart {
              position: absolute;
              background: #fff;
              top: 80px;
              right: 0px;
              width: 350px;

              z-index: 5000;
              list-style-type: none;
              padding-bottom: 20px;
              @include borderradiuse(10px);
              // @include transform(translateY(30%));
              opacity: 0;
              visibility: hidden;
              &::before {
                content: "";
                position: absolute;
                top: -10px;
                right: 20px;

                border-left: 20px solid transparent;
                border-right: 0 solid transparent;
                border-bottom: 12px solid #fff;

                width: 0;
                height: 0;
              }

              .last-sub {
                @extend %flex-row;
                margin: 20px;
                // .content{
                // margin-right: 30px;
                // margin-top: 20px;
                // }
              }

              .sub-cart-1 {
                position: relative;
                z-index: 100000;
                display: flex;
                flex-flow: row;
                align-items: center;
                border-bottom: 1px solid $gray;
                &:hover {
                  @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
                  @include transition(0.5s);
                }
                .image-cart {
                  margin-left: 20px;
                }
                .cart-contnet {
                  position: relative;
                  padding: 20px 20px;
                  a {
                    display: block;
                    color: $black;
                  }
                  p {
                    display: inline-block;
                    background: $gray;
                    text-transform: capitalize;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    @include textalign(center);
                    line-height: 20px;
                  }
                  h6 {
                    display: inline-block;
                    color: $black;
                    font-weight: bold;
                  }
                }
                .cart-icon {
                  position: relative;
                  i {
                    color: $red;
                    font-size: 18pt;
                    font-weight: bold;
                    // margin-left: 30px;
                  }
                }
              }
            }

            &:hover {
              .sub-menu-cart {
                opacity: 1;
                visibility: visible;
                @include transition(0.5s);
                // @include transform(translateY(0));
              }
            }
          }
          .header-part2 {
            position: relative;
            @extend %flex-row;
            //    left:280px;

            button {
              position: relative;
              // left: 30px;
              background: transparent;
              border: none;
              padding: 25px 6px 0;

              i {
                color: #fff;
                font-size: 16pt;
              }
            }
            .search {
              position: relative;
              .search-display {
                position: relative;

                display: none;
                .search-content {
                  overflow: hidden;
                  position: absolute;
                  top: 22px;
                  right: -40px;
                  width: 0;
                  height: 80px;
                  @include borderradiuse(20px);
                  @extend %flex-row;
                  align-items: stretch;
                  justify-content: space-between;
                  background: #fff;

                  input {
                    @include borderradiuse(20px);
                    border: none;
                    padding-left: 20px;
                  }
                  i {
                    font-size: 18pt;
                    margin-top: 15px;

                    margin-right: 30px;
                    color: $black;
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: 10px;
                  right: 10px;

                  border-left: 20px solid transparent;
                  border-right: 0 solid transparent;
                  border-bottom: 12px solid #fff;

                  width: 20px;

                  height: 0;
                  z-index: 10;
                }
              }
            }
            .more {
              position: relative;

              .dot-vertical {
                position: absolute;
                top: 80px;
                right: -10px;
                background: #fff;
                width: 200px;
                @include borderradiuse(15px);
                opacity: 0;
                visibility: hidden;
                // display: none;
                ul {
                  list-style-type: none;

                  li {
                    margin-top: 10px;
                    padding: 10px 15px;
                    a {
                      color: gray;
                      text-transform: capitalize;
                    }
                    &:hover {
                      @include Gradient(45deg, #5e2ced 0%, #9749f8 100%);
                      @include transition(0.5s);
                    }
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: -10px;
                  right: 40px;

                  border-left: 20px solid transparent;
                  border-right: 0 solid transparent;
                  border-bottom: 12px solid #fff;

                  width: 0;
                  height: 0;
                }
              }
              &:hover {
                .dot-vertical {
                  opacity: 1;
                  visibility: visible;
                }
                @include transition(0.5s);
              }
            }
            #free {
              margin-top: 20px;
              // // // margin-left: 40px;
            }
          }
        }
        .logo {
          position: relative;
          float: left;
          margin: 20px 10px 20px 30px;

          z-index: 4;
          img {
            width: 250px;
          }
        }
      }

      .content-left {
        position: relative;
        padding-top: 150px;
        // position: absolute;
        //  width: 40%;
        //  float: left;
        // left:155px ;
        //    margin-top: 120px;
        //  top:100px;

        .carousel-indicators {
          position: relative;
          // top:350px;
          left: -40%;
          margin-top: 30px;

          li {
            position: relative;
            width: 8px;
            height: 8px;
            @include borderradiuse(100%);

            background-color: gray;

            margin: 10px 7px;
            //    left:-200px;
          }
          .active {
            color: $purple;
            background-color: $purple;

            &::before {
              content: "";
              position: absolute;
              width: 20px;
              height: 20px;
              @include borderradiuse(100%);
              border: 3px solid $purple;
              top: -16px;
              left: -26px;
              margin: 10px 20px;
            }
          }
        }

        .carousel-inner {
          position: relative;
          //   top:-700px;
          //   left:-120px;
          z-index: 1;
          //   float:right;

          .content {
            //   width: 100%;
            h1 {
              font-size: 50px;
              margin-bottom: 30px;
            }
            p {
              margin-bottom: 20px;
            }
          }
        }
      }
      // .content-right{
      //     position: absolute;
      //     // width: 45%;
      //     float:right;
      //     // top:150px ;
      //     // left:500px;
      .square-image-white {
        position: absolute;
        z-index: 30;
        top: 20px;
        left: 400px;

        animation: slide-up-down 5s linear infinite normal;
      }
      .spin-image {
        position: absolute;
        z-index: 30;

        right: 0;
        top: 400px;
        animation: slide-rotate 15s linear infinite normal;
      }
      .head-img {
        position: relative;
        z-index: 1;
        // float:right;
        // width: 40%;
        img {
          width: 100%;
          height: auto;
        }
      }

      // }
      .bg-resize {
        position: relative;

        display: none;
        .logo-resize {
          position: relative;
          float: left;
          margin-top: 30px;
        }
        .show-sm {
          position: relative;
          nav {
            #nav-toggle {
              // position: relative;
              span {
                position: absolute;
                margin-top: 60px;
                margin-left: calc(100% - 60px);
                // left:300px;
                &,
                &::before,
                &:after {
                  cursor: pointer;
                  border-radius: 4px;
                  height: 3px;
                  width: 25px;
                  background: #fff;
                  position: absolute;

                  display: block;
                  content: "";
                  @include transition(all 500ms ease-in-out);
                }
                &::before {
                  top: -7px;
                }
                &::after {
                  bottom: -7px;
                }
              }
            }
            #nav-toggle.active span {
              background-color: transparent !important;

              &:before,
              &:after {
                top: 0 !important;
              }

              &:before {
                @include transform(rotate(45deg));
                background: #fff !important;
              }

              &:after {
                @include transform(rotate(-45deg));
                background: #fff !important;
              }
            }
          }
        }

        .overlay {
          position: relative;

          .menu-resize {
            display: none;
            position: absolute;
            z-index: 20;
            background: #fff;
            margin-right: 20px;
            margin-left: 20px;
            top: 90px;
            left: 0px;
            right: 0px;
            width: 90%;
            // height: 50%;
            overflow: auto;
            list-style-type: none;
            @include textalign(left);

            li {
              position: relative;
              &:nth-child(2),
              &:nth-child(3) {
                border-bottom: 1px solid $gray;
                padding: 5px 10px;
              }

              a {
                color: #000;
                position: relative;
                padding: 5px 15px;
                line-height: 40px;
              }
            }

            li.has-child {
              position: relative;
              > p {
                display: flex;
                flex-direction: row;
                margin-bottom: 0 !important;

                a {
                  width: 85%;
                  padding: 0 25px;
                  border-bottom: 1px solid $gray;
                  #cart {
                    border: none !important;
                    font-size: 18pt;
                    padding: 0 !important;
                  }
                }
                span {
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  @include borderradiuse(100%);
                  background: $red;
                  color: #fff;
                  top: -2px;
                  left: 40px;
                  font-size: 9pt;
                  @extend %flex-center;
                }

                i {
                  // font-size: 16pt;
                  // cursor: pointer;
                  position: relative;
                  z-index: 1;
                  overflow: hidden;
                  color: #000;
                  padding: 5px 17px 5px 17px;
                  border-top: 1px solid $gray;

                  border-left: 1px solid $gray;
                  border-bottom: 1px solid $gray;
                }
              }

              ul.sub-menu-cart {
                position: relative;
                background: #fff;

                width: 100%;

                z-index: 5000;
                list-style-type: none;
                padding-bottom: 20px;
                @include borderradiuse(10px);
                // @include transform(translateY(30%));
                display: none;

                .last-sub {
                  @extend %flex-row;
                  justify-content: space-around;
                  margin: 20px;
                  .content {
                    margin-right: 30px;
                    margin-top: 20px;
                  }
                }

                .sub-cart-1 {
                  position: relative;
                  z-index: 100000;
                  display: flex;
                  flex-flow: row;
                  align-items: center;
                  justify-content: space-around;
                  border-bottom: 1px solid $gray;
                  &:hover {
                    @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
                    @include transition(0.5s);
                  }
                  .image-cart {
                    margin-left: 20px;
                  }
                  .cart-contnet {
                    position: relative;
                    padding: 20px 20px;
                    a {
                      display: block;
                      color: $black;
                    }
                    p {
                      display: inline-block;
                      background: $gray;
                      text-transform: capitalize;
                      margin-right: 10px;
                      width: 20px;
                      height: 20px;
                      @include textalign(center);
                      line-height: 20px;
                    }
                    h6 {
                      display: inline-block;
                      color: $black;
                      font-weight: bold;
                    }
                  }
                  .cart-icon {
                    position: relative;
                    i {
                      color: $red;
                      font-size: 18pt;
                      font-weight: bold;
                      margin-left: 30px;
                    }
                  }
                }
              }

              > ul {
                display: none;

                list-style-type: none;

                position: relative;
                width: 100%;
                left: 0px;
                right: 0px;
                top: 0;
                background: $gray;
                z-index: 50;

                li {
                  position: relative;
                  padding: 10px 10px;
                  border-bottom: 1px solid #fff;
                }
              }
            }

            li.has-child.open > p i.plus:before {
              content: "\F0374" !important;
            }
          }
        }
      }

      .img-circle {
        opacity: 0.1;
        animation: right-left 2s linear infinite normal;
      }
      .position-1 {
        position: absolute;
        top: 300px;
        left: -150px;
      }
      .position-2 {
        position: absolute;
        top: 400px;
        left: 500px;
      }
    }
  }
}
// =======================solar=========================
.solar {
  position: relative;
  margin-top: 0 !important;
  .owl-nav {
    top: -470px;
  }
  .square {
    position: relative;
    img {
      position: absolute;
      float: right;
      top: -30px;
      right: 100px;

      animation: slide-rotate 15s linear infinite normal;
    }
  }
  .rotate {
    position: relative;
    img {
      position: absolute;
      top: 90px;
      left: 45px;

      animation: slide-rotate 15s linear infinite normal;
    }
  }
  @include keyframes(slide-rotate) {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  @include keyframes(right-left) {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .item {
    position: relative;
    background: #fff;
    @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
    @include borderradiuse(10px);
    padding: 30px 30px;
    margin: 70px 15px;
    height: 260px;
    @include textalign(center);
    .icon-circle {
      position: relative;
      background-color: #fff;

      margin: 10px auto 50px;
      width: 100px;
      height: 100px;
      @include box-shadow(0 2px 15px 4px rgb(162, 162, 165));
      @include borderradiuse(100%);
      @include textalign(center);

      @extend %flex-center;
      @include transform(rotateY(0));
      @include transition(1s);

      &:hover {
        @include transform(rotateY(180deg));
        @include transition(1s);
      }
      i {
        font-size: 40pt;
        color: $purple;
        @extend %flex-center;
      }
    }
  }
}
//    ====================advantage==========================
.advantage {
  position: relative;
  .bg-shape {
    position: absolute;
    right: -200px;
    top: -100px;
  }
  .icon-square {
    position: absolute;
    left: -40px;
    top: 60px;
    animation: slide-rotate 15s linear infinite normal;
  }

  .advantage-content {
    position: relative;
    margin-bottom: 20px;
    @extend %flex-row;

    .content {
      position: relative;

      padding-top: 10px;
      padding-left: 20px;
      h5 {
        a {
          color: black;
        }
      }
    }
    .icon-circle {
      position: absolute;
      left: -100px;
      top: 40px;
      animation: slide-up-down 10s linear infinite normal;
    }
  }
  .image-under {
    position: absolute;
    margin-left: 100px;
    @extend %abs;
    img {
      @include borderradiuse(20px);
      width: 100%;
    }
  }
  .image-on {
    position: absolute;
    top: 0;
    right: 0;
  }
  .translate {
    @include borderradiuse(20px);
    @include transform(translate(0, 0));
    @include transition(0.5s);
    &:hover {
      @include transform(translate(-80px, 80px));
      @include transition(0.5s);
    }
  }

  @include keyframes(slide-up-down) {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }

    100% {
      transform: translateY(0);
    }
  }
}
.get {
  position: relative;
  background: url(../image/background.jfif) 50% 0 repeat-x;

  overflow: hidden;

  padding: 70px 0;
  .content {
    position: relative;

    > * {
      color: #fff;
    }
    i {
      font-size: 40pt;
      margin-right: 20px;
      display: inline;
    }

    h2 {
      display: inline;
    }
  }
  .button {
    margin-left: 20px;
    margin-top: 30px;
  }
}
// }
//     }
// }

.custum-btn-purple {
  position: relative;

  width: 170px;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;

  @include textalign(center);
  @include borderradiuse(30px);
  @include Gradient(45deg, #5e2ced 0%, #9749f8 100%);
  a {
    font-weight: 400;
    font-size: 13pt;
    color: #fff;
  }

  &:after {
    content: "";
    width: 170px;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0px;
    background: #fff;
    z-index: 5;
    opacity: 0.5;
    @include borderradiuse(30px);
    @include transition(0.4s);
  }
}
.custum-btn-purple.right-to-left {
  &:after {
    left: -200%;
  }
}
.custum-btn-purple.right-to-left.clicked::after {
  left: 0 !important;
}

.custum-btn-white {
  position: relative;
  width: 170px;
  height: 50px;
  line-height: 50px;

  @include textalign(center);
  @include borderradiuse(30px);
  background: #fff;
  overflow: hidden;
  a {
    color: #000;
    font-weight: bold;
    font-size: 13pt;
  }
  &:after {
    content: "";
    width: 170px;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    background: $purple;
    z-index: 5;
    opacity: 0.3;
    @include borderradiuse(30px);
    @include transition(0.4s);
  }
}
.custum-btn-white.right-to-left {
  &:after {
    left: -170px;
  }
}
.custum-btn-white.right-to-left.clicked::after {
  left: 0 !important;
}
// ==========================project==================
.project {
  position: relative;
  #gallery {
    text-align: center;
    .button {
      background: transparent;
      margin: 15px;
      border: none;
      color: $black;
      font-weight: 600;

      padding: 10px 20px;
      @include borderradiuse(50px);
      &.select {
        @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
      }
    }
  }

  .rotate {
    position: absolute;
    z-index: -1;

    right: 50px;
    top: 220px;
    img {
      animation: slide-rotate 15s linear infinite normal;
    }
  }
  .column {
    display: none;
    .content {
      position: relative;
      overflow: hidden;
      margin: 20px 5px;
      &::before {
        content: "";
        position: absolute;
        @extend %abs;
        background: rgba(45, 67, 150, 0.54);
        @include transform(translateY(100%));
        @include transition(1s);
        z-index: 10;
      }
      &:hover {
        &::before {
          @include transform(translateY(0));
        }
        .content-center {
          opacity: 1;

          // visibility: visible;
        }
      }
      .content-center {
        position: absolute;
        top: 30%;
        left: 10%;
        bottom: 30%;
        right: 10%;
        z-index: 20;
        @extend %flex-column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        //    visibility: hidden;
        @include transition(0.3s);
        i {
          font-size: 30px;
          color: $black;
          background: #fff;
          width: 50px;
          height: 50px;
          padding: 5px;
          @extend %flex-center;

          @include borderradiuse(100%);
          margin-bottom: 20px;
        }
        h5 {
          //    font-size: 18pt;
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
  }
  .align {
    position: relative;
    margin: 30px auto;
  }
}

//   --------------------------------------choose------------------------------
.choose {
  position: relative;
  .image-line {
    position: absolute;
    z-index: -1;
    left: -200px;
    top: -100px;
  }
  .image-shape {
    position: absolute;
    z-index: -1;
    right: -530px;
    top: -80px;
  }
  .image {
    visibility: visible;
  }
  .image-responsive {
    position: relative;
    display: none;
  }
  .item {
    position: relative;
    margin-bottom: 50px;
    .content {
      position: relative;

      h4 {
        margin-bottom: 20px;

        a {
          color: $black;
          text-transform: capitalize;
        }
      }
    }
  }
  .item-left {
    position: relative;
    @extend %flex-row;

    margin-right: 20px;
    .icon-left {
      margin-right: 30px;
    }
  }
  .item-right {
    position: relative;
    display: flex;
    // flex-flow: row-reverse nowrap;
    margin-left: 20px;
    .icon-right {
      margin-left: 30px;
    }
  }
}
.choose-solar {
  position: relative;
  background: url(../image/background.jfif) repeat;
  .shape-square {
    position: absolute;

    top: 30px;
    right: 250px;
    animation: slide-up-down 5s linear infinite normal;
  }
  .shape-circle {
    position: absolute;

    bottom: 200px;
    left: 30px;
    animation: slide-up-down 8s linear infinite normal;
  }
  .header {
    margin-top: 50px;
    position: relative;
    h1 {
      color: #fff;
    }
    p {
      color: $gray;
    }
  }
  .carousel-indicators {
    top: 230px;
  }
  .content {
    position: relative;
    @extend %flex-row;
    margin-bottom: 200px;
    .image {
      position: relative;

      img {
        width: 350px;
        // height: 400px;

        @include borderradiuse(100%);
        margin: 10px 0;
      }
    }
    .content-orginal {
      position: relative;
      margin: 10px 20px;
      p {
        color: #fff;
      }
      h4 {
        color: #fff;
      }
      h6 {
        color: $gray;
        margin-left: 5px;
        opacity: 0.6;
      }
    }
  }
}
//    ----------------------------best-product-----------------------------
.best-product {
  position: relative;
  .image-line-circle {
    position: absolute;
    z-index: -1;

    right: -180px;
    top: -80px;
  }

  .owl-nav {
    top: -660px;
  }
  .item {
    overflow: hidden;
    position: relative;
    @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
    margin: 60px 10px;
    //    width: 250px;
    @include textalign(center);
    @include borderradiuse(30px);
    .image-line {
      position: relative;
      img {
        width: 2% !important;
      }
    }
    h5 {
      width: 110px;
      height: 36px;
      @include borderradiuse(30px);
      @include Gradient(45deg, #5e2ced 0%, #9749f8 100%);
      @extend %flex-center;
      color: #fff;
      margin: 20px auto;
    }
    h1 {
      // margin: 20px auto;
      font-weight: 600;
      a {
        font-size: 14pt;
        color: $black;
      }
    }
    .icon-star {
      position: relative;
      color: $yellow;
      font-size: 16pt;
      padding-bottom: 20px;
    }
    .icons {
      position: absolute;
      width: 100%;
      height: 50px;
      background: #fff;
      border-top: 1px solid $gray;
      bottom: -60px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      opacity: 0;
      ul {
        list-style-type: none;
        @extend %flex-row;
        li {
          padding: 7px 31px;

          &:nth-child(2) {
            border-left: 1px solid $gray;
            border-right: 1px solid $gray;
          }

          &:hover {
            @include Gradient(45deg, #5e2ced 0%, #9749f8 100%);
            @include transition(0.5s);
            i {
              color: #fff;
              @include transition(0.5s);
            }
          }
          a {
            i {
              font-size: 16pt;
              color: $black;
            }
          }
        }
      }
    }
    &:hover {
      .icons {
        opacity: 1;
        bottom: 0;
        @include transition(0.75s);
      }
      h1 {
        a {
          color: $purple;
        }
      }
    }
  }
}
//    --------------------------roads-solar--------------------------------
.roads-solar {
  position: relative;
  .shape-image {
    position: absolute;
    top: -20px;
    left: -800px;
  }
  .accordion {
    background-color: transparent;
    color: $black;
    font-size: 15pt;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .panel {
    padding: 0 18px;
    background-color: transparent;

    overflow: hidden;
    max-height: 0;
    @include transition(max-height 0.2s ease-out);
    p {
      margin-left: 40px;
    }
  }
  .accordion:after {
    content: "\2b"; /* Unicode character for "plus" sign (+) */
    font-size: 25pt;
    color: $black;
    float: left;

    margin-top: -10px;
    margin-right: 20px;
  }

  .active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
  }
}
//   --------------------------------contact-----------------
.contact {
  position: relative;
  background: url(../image/background.jfif) repeat;
  padding: 80px 0;
  .header {
    //   margin-top: 90px;
    p {
      color: #fff;
      opacity: 0.4;
    }
  }
  .image {
    position: relative;
    //   left:-10;
    //   top:-50px;
    img {
      position: absolute;
      top: 0px;
    }
  }
  form {
    .contact-form {
      position: relative;
      //   margin-bottom: 60px;
      ::-webkit-input-placeholder {
        color: $dark-gray;
        text-transform: capitalize;
      }

      :-moz-placeholder {
        color: $dark-gray;
        text-transform: capitalize;
      }

      ::-moz-placeholder {
        color: $dark-gray;
        opacity: 0.8;
        text-transform: capitalize;
      }

      :-ms-input-placeholder {
        color: $dark-gray;
        opacity: 0.8;
        text-transform: capitalize;
      }
      & > :not(last-child) {
        border: none;
        outline: none;
        width: 100%;

        margin-bottom: 40px;
        padding-left: 15px;

        background: rgba(255, 255, 255, 0.3);
        &:hover {
          background: #fff;

          @include transition(0.5s);
        }
      }
      input {
        height: 60px;
        @include borderradiuse(50px);
      }
      textarea {
        height: auto;
        @include borderradiuse(20px);
        padding-top: 15px;
      }
    }
  }
}
//   -----------------------contact-----------------------
.pricing {
  position: relative;
  overflow: hidden;
  margin-top: 120px;
  .shape {
    position: absolute;
    right: -500px;
    top: 70px;
  }

  .price {
    position: relative;
    overflow: hidden;
    @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
    @include textalign(center);
    padding-top: 40px;
    margin: 30px 0;
    height: 620px;
    & > {
      @include textalign(center);
    }
    .price-first {
      position: relative;

      h1 {
        sup {
          margin-right: 5px;
          font-size: 16pt;
          font-weight: 600;
          top: -25px;
        }
        color: $purple;
        font-size: 40pt;
        font-weight: bold;
        span {
          font-size: 20pt;
          text-transform: uppercase;
          font-weight: 300;
        }
      }
      p {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 14pt;
        margin-top: 25px;
      }
      img {
        overflow: hidden;
        width: 500px;
      }
    }
    .price-content {
      position: relative;
      p {
        margin: 30px 0;
        color: #000;
        &:hover {
          color: $purple;
          @include transition(0.5s);
        }
      }
      ul {
        list-style-type: none;
        li {
          padding: 10px 0;
        }
      }
      .custum {
        position: relative;
        margin: 20px auto;
      }
    }
  }
}
// ======================latest==============================
.latest {
  position: relative;
  margin: 150px 0;
  .square-image {
    position: absolute;
    left: -1100px;
    top: 200px;
    animation: slide-rotate 15s linear infinite normal;
  }

  .line-image {
    position: absolute;
    right: -180px;
  }
  .letest-content {
    position: relative;
    @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
    @include borderradiuse(35px);
    margin: 30px 0;
    .image {
      position: relative;

      img {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        width: 100%;
      }
      i {
        position: absolute;
        right: 30px;
        bottom: -18px;

        @include box-shadow(2px 2px 9px 0 rgb(188, 188, 190));
        width: 50px;
        height: 50px;
        @include borderradiuse(100%);
        @extend %flex-center;
        background: #fff;
        color: $black;
        font-size: 16pt;

        &:hover {
          @include Gradient(45deg, #5e2ced 0%, #9749f8 100%);
          color: #fff;
          @include transition(0.5s);
        }
      }
    }

    .content {
      position: relative;
      margin: 40px 25px;
      p {
        h5 {
          font-weight: bold;
          line-height: 24px;
        }
      }
    }
    .bottom-content {
      position: relative;
      @extend %flex-row;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $gray;
      p {
        padding: 20px 35px;
        i {
          color: $purple;
          font-size: 12pt;
        }
        a {
          color: $black;
          font-size: 11pt;
          &:hover {
            color: $purple;
            @include transition(0.5s);
          }
        }
      }
    }
  }
}
.subscribe {
  position: relative;
  background: url(../image/background.jfif) repeat;

  .content {
    position: relative;

    margin: 100px 0;
    .header-content {
      position: relative;
      @extend %flex-row;
      color: #fff;

      .git-icon {
        position: relative;
        i {
          font-size: 60pt;
          margin-left: 12px;
        }
      }
      .major-content {
        position: relative;
        margin: 40px 12px;
        * {
          color: #fff;
        }
        h2 {
          font-size: 20pt;
        }
        h5 {
          font-weight: 10;
          font-size: 11pt;
        }
      }
    }
    .input-content {
      position: relative;
      @extend %flex-row;
      input {
        border: none;
        width: calc(100% - 120px);
        height: 50px;
        padding: 5px 20px;
        @include borderradiuse(50px);
        text-transform: capitalize;
      }
      .header {
        margin-left: -100px;
        margin-top: 0;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.7);
      padding-top: 40px;
    }
  }
  .image {
    position: relative;
    margin: 100px 0;
  }
}
//-----------------------partners---------------------------------
.partners {
  position: relative;
  .owl-nav {
    top: -250px;
  }
  .item {
    position: relative;
    margin: 60px 0;
    img {
      width: 50%;
    }
  }
}
footer {
  position: relative;
  background: url(../image/background.jfif);
  .icon-circle {
    position: relative;
    width: 100%;

    a {
      i {
        position: absolute;
        right: 100px;
        top: -80px;

        // margin-left: 960px;
        // margin-right: 120px;
        font-size: 30pt;
        width: 120px;
        height: 120px;
        background: #fff;
        color: $black;
        @include borderradiuse(100%);
        @extend %flex-center;
        @include box-shadow(0px 2px 25px 10px #c5c5c5);
        &:after {
          content: "";
          position: absolute;
          top: -40px;
          width: 180px;
          height: 180px;
          @include borderradiuse(100%);
          background: rgba(255, 255, 255, 0.1);
          //    z-index: -1;
        }
      }
    }
  }
  .titr {
    position: relative;
    margin: 50px 0;
    h4 {
      color: #fff;
    }
    img {
      float: left;
    }
  }
  .image {
    margin: 50px 0;
    display: block;
    img {
      float: left;
    }
  }
  .content {
    margin: 50px 0;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 300;
    display: block;
    .icon-resane {
      position: relative;
      @extend %flex-row;
      list-style-type: none;
      li {
        position: relative;
        padding: 0 20px;
        width: 40px;
        height: 40px;
        @include borderradiuse(100%);
        background: transparent;

        &:hover {
          background: #fff;
          @include transition(0.5s);
          a {
            i {
              color: $purple;
            }
          }
        }

        a {
          i {
            color: #fff;
            font-size: 16pt;
            @extend %flex-center;
          }
        }
      }
    }
  }
  .usefule-list {
    position: relative;
    list-style-type: none;
    li {
      position: relative;

      a {
        color: rgba(255, 255, 255, 0.85);
        text-transform: capitalize;
        font-weight: 300;
        i {
          margin-right: 15px;
          font-size: 16pt;
        }
      }
    }
  }
  .contact-us {
    position: relative;
    list-style-type: none;
    li {
      position: relative;
      margin-bottom: 30pt;
      h1 {
        font-size: 25pt;
        color: #fff;
      }
      a {
        color: #fff;
        i {
          font-size: 16pt;
          margin-right: 20pt;
        }
      }
    }
  }

  .bottom-footer {
    position: relative;
    border-top: 1px solid $gray;

    @include textalign(center);
    p {
      padding: 30px 0;
      color: #fff;
      a {
        color: $yellow;
      }
      span {
        color: $yellow;
      }
    }
  }
}
